footer{
    color: white !important;
}

.credits p{
    color: white;
    font-size: 12px;
}

.credits h5{
    font-size: 17px;
    margin-bottom: 20px;
}

.credits{
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright{
    padding-top: 20px;
    padding-bottom: 20px;
}